* {
    box-sizing: border-box;
}

body {
    background: #535353;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    outline: 3px solid black;
    background: content-box radial-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
    transform: scale(1.5) translateY(20%);
}

.game-container canvas {
    image-rendering: pixelated;
}

hp {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 10px;
    width: 100px;
    height: 40px;
    position: absolute;
}
.Boss-Health-point-Bar{
    display: flex;
    justify-content: center;
}

.Outfit {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 20px;
    outline: 2px solid black;
    background-color: rgba(100,100,100);
    border-radius: 10px;
}