* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}
 .Start-frame {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 50vw;
    width: 550px;
    height: 480px;
    transform: translate(-50%, 5px);
    background: rgb(255, 255, 255, .9);
    overflow: hidden;
}

.game-rule {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30%;
}
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;

    outline: 3px solid rgba(144, 10, 202, 0.8);
    border-radius: 2rem;
}
.game-rule-diff {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30%;
}

.game-rule::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    clip-path: ellipse(50px 50px at 10% 15%);
}
.game-rule-diff::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b86405;
    clip-path: ellipse(50px 50px at 10% 75%);
}

.container {
    position: relative;
    width:  100px;
    height: 100px;
} 

.container .card {
    position: absolute;
    width: 180px;
    height: 300px;
    background: white;
    border-radius: 25px;
    transition: 0.8s;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: top;
}

.game-rule .container .card {
    top: 50px;
    left: 0px;
    transform: translate(0px, -150px) translateX(-20%) translateY(calc(8px * var(--i))) rotate(40deg) skew(-20deg, -10deg) scale(0.15);
    box-shadow: 25px 25px 100px rgba(0,0,0,0.2);
}

.game-rule-diff .container .card {
    top: -235px;
    left: 0px;
    transform: translate(0px, 135px) translateX(-20%) translateY(calc(8px * var(--i))) rotate(40deg) skew(-20deg, -10deg) scale(0.15);
    box-shadow: 25px 25px 100px rgba(0,0,0,0.2);
}

.container .card:nth-child(2) {
    opacity: 0.8;
}
.container .card:nth-child(1) {
    opacity: 0.6;
}

.container:hover .card {
    position: absolute;
    z-index: 10;
    opacity: 1;
    transform: translateX(calc(3px + 182px * calc(var(--i) + 1))) translateY(0%) rotate(0deg) skew(0deg, 0deg) scale(1);
    box-shadow: none;
    outline: 2px solid black;
}

.container .card .index-text {
    position: relative;
    padding: 8px;
    opacity: 0;
}

.container:hover .card .index-text {
    opacity: 1;
}

.text {
    position: absolute;
    font-size: 1.8rem;
    font-family: cursive;
    font-weight: bold;
}


.diff {
    margin: 10px;
    position: relative;
    width: 160px;
    height: 50px;
}

.diff button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 4px double #201dd8;
    background: #ffffff;
    border-radius: 20px;
    transition: 0.2s;
    
    text-transform: uppercase;
    font-size: 2rem;
    font-family: monospace;
}

.diff .click{
    outline: 4px double #ec6618;
    box-shadow: 0px 0px 5px 5px #ec6618;
}

.diff button:hover {
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.2s;
}

.Start{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: top;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background: linear-gradient(#ff0000, #000000);;
    transition: 0.3s;
    
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: monospace;
}

.Start:hover {
    font-weight: bold;
    font-size: 2rem;
    transition: 0.8s;
    color:yellow;
}